# Игнорируем временные файлы сборки
*.exe
*.dll
*.pdb
*.cache

# Игнорируем папки Debug и Release
bin/
obj/

# Rider-specific
.idea/
*.sln.iml

# Игнорировать временные файлы сборки MSBuild
*.csproj.user
*.csprojAssemblyReference.cache
*.csproj.FileListAbsolute.txt

# Игнорируем файлы SourceLink (отладки)
*.sourcelink.json
